# This file contains common pin mappings for the Duet3 6HC.
# To use this config, the firmware should be compiled for the SAME70Q20B.
#
# To flash the board, erase the existing firmware by jumpering the erase jumper.
# Boot the board, wait for reset to complete, remove the jumper, and then reboot the board,
# as described in Duet's documentation:
#    https://docs.duet3d.com/en/User_manual/RepRapFirmware/Updating_firmware#all-other-duet-boards
# Then run:
#    make flash FLASH_DEVICE=/dev/ttyACM0
#
# See docs/Config_Reference.md for a description of parameters.


# Pins for reference:
# Driver Step Pins - 0:PC18 1:PC16 2:PC28 3:PC1  4:PC4 5:PC9
# Driver Dir Pins  - 0:PB5  1:PD10 2:PA4  3:PA22 4:PC3 5:PD14
# Driver Enable - !PA9
# Driver CS - PD17
# Thermistor Pins - TEMP0:PC15 TEMP1:PC29 TEMP2:PC30 TEMP3:PC31
# Pullup Resistor - 2200
# Vssa Sense:PC13 | Vref Sense:PC0
# Current Sense resistor for drivers - 0.05ohm
# SPI lines:{PC25} -> SPIMosi:PC27 SPIMiso:PC26 SPISCLK:PC24
# Vin Monitor:PA20, uses 105100:5100 voltage divider
# CAN Pins - TX0:PB2 RX0:PB3 TX1:PD12 RX1:PC12
# Heaters - Out0:PA7 Out1:PA24 Out2:PA16 Out3:PA11
# Fan outputs - Out4:PA15, Out5:PC5, Out6:PA8, Out7:PC11, Out8:PC8, Out9:PA12 | Out9 is shared with VFD_Out
# Tach Pins for Fans - Out4.Tach:PC7 Out5.Tach:PD23 Out6.Tach:PA1
# GPIO_out - IO0:PD26 IO1:PD16 IO2:PD27 IO3:PA3 IO4:PE0  IO5:PD21 IO6:PA0  IO7:PD23 IO8:PE1 PS_ON:PA10
# GPIO_in -  IO0:PD25 IO1:PD15 IO2:PD28 IO3:PE5 IO4:PD30 IO5:PA19 IO6:PA18 IO7:PA17 IO8:PE3
# Driver Diag - 0:PD29 1:PC17 2:PD13 3:PC2 4:PD31 5:PC10


# ======================================================================
# MCU
# ======================================================================

[mcu]
serial: /dev/ttyACM0


# ======================================================================
# Printer
# ======================================================================

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
minimum_cruise_ratio: 0.5
max_z_velocity: 10
max_z_accel: 30
square_corner_velocity: 5.0


# ======================================================================
# ADC Scaling
# ======================================================================

[adc_scaled vref_scaled]
vref_pin: PC0
vssa_pin: PC13


# ======================================================================
# X Axis - Driver 0
# ======================================================================

[stepper_x]
step_pin: PC18
dir_pin: PB5
enable_pin: !PA9
microsteps: 128
rotation_distance: 54
endstop_pin: PD25 # IO0
position_endstop: 0
position_max: 590
homing_speed: 125
homing_retract_dist: 5
homing_retract_speed: 30
second_homing_speed: 5

[tmc5160 stepper_x]
cs_pin: PD17
spi_bus: usart1
chain_position: 1
chain_length: 6
interpolate: False
run_current: 1.4
sense_resistor: 0.05


# ======================================================================
# Y Axis - Driver 1 (right motor)
# ======================================================================

[stepper_y]
step_pin: PC16
dir_pin: PD10
enable_pin: !PA9
microsteps: 128
rotation_distance: 54
endstop_pin: PD15 # IO1
position_endstop: 610
position_max: 610
homing_speed: 125
homing_retract_dist: 5
homing_retract_speed: 30
second_homing_speed: 5

[tmc5160 stepper_y]
cs_pin: PD17
chain_position: 2
chain_length: 6
interpolate: False
run_current: 1.4
sense_resistor: 0.05


# ======================================================================
# Y1 Axis - Driver 4 (left motor)
# ======================================================================

[stepper_y1]
step_pin: PC4
dir_pin: !PC3
enable_pin: !PA9
microsteps: 128
rotation_distance: 54
endstop_pin: PE5 # IO3

[tmc5160 stepper_y1]
cs_pin: PD17
chain_position: 5
chain_length: 6
interpolate: False
run_current: 1.4
sense_resistor: 0.05


# ======================================================================
# Z Axis - Driver 2
# ======================================================================

[stepper_z]
step_pin: PC28
dir_pin: PA4
enable_pin: !PA9
microsteps: 64
rotation_distance: 8
endstop_pin: PD28 # IO2
position_endstop: 0
position_min: 0
position_max: 602

[tmc5160 stepper_z]
cs_pin: PD17
chain_position: 3
chain_length: 6
interpolate: False
run_current: 1.4
sense_resistor: 0.05


# ======================================================================
# Z1 Axis - Driver 5
# ======================================================================

[stepper_z1]
step_pin: PC9
dir_pin: !PD14
enable_pin: !PA9
microsteps: 64
rotation_distance: 8

[tmc5160 stepper_z1]
cs_pin: PD17
chain_position: 6
chain_length: 6
interpolate: False
run_current: 1.4
sense_resistor: 0.05


# ======================================================================
# Z Max Endstop
# ======================================================================

[gcode_button z_max]
pin: ^!PD30 # IO4
press_gcode:
    {action_emergency_stop("ZMAX HIT")}


# ======================================================================
# Extruder - Driver 3 (T0)
# ======================================================================

[extruder]
step_pin: PC1
dir_pin: PA22
enable_pin: !PA9
microsteps: 16
rotation_distance: 6.743

nozzle_diameter: 0.400
filament_diameter: 2.85
max_extrude_cross_section: 2.5
max_extrude_only_distance: 200
pressure_advance: 0.11

heater_pin: PA24 # Out1
sensor_type: ATC Semitec 104GT-2
sensor_pin: vref_scaled:PC29 # Temp1
pullup_resistor: 2200

control: pid
pid_Kp: 30.089
pid_Ki: 2.229
pid_Kd: 101.550

min_temp: 0
max_temp: 320
min_extrude_temp: 160

[tmc5160 extruder]
cs_pin: PD17
chain_position: 4
chain_length: 6
interpolate: False
run_current: 1.2
sense_resistor: 0.05


# ======================================================================
# T0 Macro
# ======================================================================

[gcode_macro T0]
description: Switch to the left extruder
gcode:
    SAVE_VARIABLE VARIABLE=active_tool VALUE=0
    SET_GCODE_OFFSET X=0 Y=0
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SET_FILAMENT_SENSOR SENSOR=filament_runout_extruder0 ENABLE=1


# ======================================================================
# Heated Bed
# ======================================================================

[heater_bed]
heater_pin: PA7 # Out0
sensor_type: Generic 3950
sensor_pin: vref_scaled:PC15 # Temp0
pullup_resistor: 2200

control: pid
pid_Kp: 61.049
pid_Ki: 2.339
pid_Kd: 398.344

min_temp: 0
max_temp: 130


# ======================================================================
# Fans
# ======================================================================

# Hotend heatbreak fan.
# Turns on automatically when the extruder is above 50C.
[heater_fan e0_heater_block_fan]
pin: PC8 # Out8
heater: extruder
heater_temp: 50.0
fan_speed: 1.0


# Main controllable part-cooling fan.
# Controlled with M106/M107.
[fan]
pin: PC5 # Out5


# Extra controllable fan on Out4.
# Use:
#   SET_FAN_SPEED FAN=aux_fan SPEED=1.0
#   SET_FAN_SPEED FAN=aux_fan SPEED=0.0
[fan_generic aux_fan]
pin: PA15 # Out4


# ======================================================================
# Filament Runout Sensor (T0)
# ======================================================================

[filament_switch_sensor filament_runout_extruder0]
pause_on_runout: False
runout_gcode: M600
event_delay: 3.0
switch_pin: ^!PA19 # IO5


# ======================================================================
# Thermal Runaway Protection
# ======================================================================

[verify_heater extruder]
max_error: 360
check_gain_time: 20
hysteresis: 5
heating_gain: 0.5

[verify_heater heater_bed]
max_error: 2000
check_gain_time: 80
hysteresis: 5
heating_gain: 0.5


# ======================================================================
# Idle Timeout
# ======================================================================

[idle_timeout]
gcode:
    M104 S0 T0
timeout: 3600


# ======================================================================
# Input Shaping
# ======================================================================

[input_shaper]
shaper_type_x: mzv
shaper_freq_x: 38.4
shaper_type_y: mzv
shaper_freq_y: 32.2


# ======================================================================
# Bed Mesh & Z Tilt (GB4 Regular)
# ======================================================================

[bed_mesh]
mesh_min: 30.75, 35
mesh_max: 570, 540
zero_reference_position: 40, 570

[z_tilt]
z_positions:
    0, 312
    590, 312
points:
    50, 312
    540, 312


# ======================================================================
# Beacon Probe
# ======================================================================

[beacon]
serial:
home_xy_position: 40, 570