# Dual-GBX heater config (8 heating zones across 2 pellet assemblies).
# Enabled via dual_extruder_enabled=true in the [fgf] section of .master.cfg.
# This overwrites build/fgf_heaters.cfg when the dual flag is set.
#
# PINMAP TODO (archimajor_pinmap.cfg): define heater/thermistor aliases
#   E3HEAT/E3THERM for assembly 1's 4th zone, E4HEAT/E4THERM..E7HEAT/E7THERM
#   for assembly 2, and HEATERFAN2 for assembly 2's heater block fan.

######################## ASSEMBLY 1 HEATERS ########################

#EXTRUDER 0 HEATER
[extruder]
heater_pin: EHEAT
sensor_pin: ETHERM
control: pid
pid_Kp: 24.856
pid_Ki: 1.493
pid_Kd: 103.462
min_temp: 0
max_temp: 360
min_extrude_temp: 120

#EXTRUDER 1 HEATER
[extruder1]
heater_pin: E1HEAT
sensor_pin: E1THERM
control: pid
pid_Kp: 24.856
pid_Ki: 1.493
pid_Kd: 103.462
min_temp: 0
max_temp: 360
min_extrude_temp: 120

#EXTRUDER 2 HEATER
[extruder2]
heater_pin: E2HEAT
sensor_pin: E2THERM
control: pid
pid_Kp: 24.856
pid_Ki: 1.493
pid_Kd: 103.462
min_temp: 0
max_temp: 360
min_extrude_temp: 100

#EXTRUDER 3 HEATER (added 4th zone)
[extruder3]
heater_pin: E3HEAT
sensor_pin: E3THERM
control: pid
pid_Kp: 24.856
pid_Ki: 1.493
pid_Kd: 103.462
min_temp: 0
max_temp: 360
min_extrude_temp: 120

######################## ASSEMBLY 2 HEATERS ########################

#EXTRUDER 4 HEATER
[extruder4]
heater_pin: E4HEAT
sensor_pin: E4THERM
control: pid
pid_Kp: 24.856
pid_Ki: 1.493
pid_Kd: 103.462
min_temp: 0
max_temp: 360
min_extrude_temp: 120

#EXTRUDER 5 HEATER
[extruder5]
heater_pin: E5HEAT
sensor_pin: E5THERM
control: pid
pid_Kp: 24.856
pid_Ki: 1.493
pid_Kd: 103.462
min_temp: 0
max_temp: 360
min_extrude_temp: 120

#EXTRUDER 6 HEATER
[extruder6]
heater_pin: E6HEAT
sensor_pin: E6THERM
control: pid
pid_Kp: 24.856
pid_Ki: 1.493
pid_Kd: 103.462
min_temp: 0
max_temp: 360
min_extrude_temp: 100

#EXTRUDER 7 HEATER (added 4th zone)
[extruder7]
heater_pin: E7HEAT
sensor_pin: E7THERM
control: pid
pid_Kp: 24.856
pid_Ki: 1.493
pid_Kd: 103.462
min_temp: 0
max_temp: 360
min_extrude_temp: 120

#PRINT COOLING FAN
[fan]
pin: PRINTFAN

#HEATER FAN - ASSEMBLY 1 BLOCK
[heater_fan assembly1_heater_block_fan]
pin: HEATERFAN
heater: extruder,extruder1,extruder2,extruder3
heater_temp: 50.0
fan_speed: 1.0

#HEATER FAN - ASSEMBLY 2 BLOCK
[heater_fan assembly2_heater_block_fan]
pin: HEATERFAN2
heater: extruder4,extruder5,extruder6,extruder7
heater_temp: 50.0
fan_speed: 1.0

#THERMAL RUNAWAY
[verify_heater extruder]
max_error: 1200
check_gain_time: 60
hysteresis: 5
heating_gain: 1

[verify_heater extruder1]
max_error: 1200
check_gain_time: 60
hysteresis: 5
heating_gain: 1

[verify_heater extruder2]
max_error: 1200
check_gain_time: 60
hysteresis: 5
heating_gain: 1

[verify_heater extruder3]
max_error: 1200
check_gain_time: 60
hysteresis: 5
heating_gain: 1

[verify_heater extruder4]
max_error: 1200
check_gain_time: 60
hysteresis: 5
heating_gain: 1

[verify_heater extruder5]
max_error: 1200
check_gain_time: 60
hysteresis: 5
heating_gain: 1

[verify_heater extruder6]
max_error: 1200
check_gain_time: 60
hysteresis: 5
heating_gain: 1

[verify_heater extruder7]
max_error: 1200
check_gain_time: 60
hysteresis: 5
heating_gain: 1

[idle_timeout]
gcode:
    M104 S0 T0
    M104 S0 T1
    M104 S0 T2
    M104 S0 T3
    M104 S0 T4
    M104 S0 T5
    M104 S0 T6
    M104 S0 T7
timeout: 3600
