# ----- Axis Motors X/Y/Z -----
[stepper_x]
step_pin: M0STEP
dir_pin: M0DIR
enable_pin: M_EN
microsteps: 16
rotation_distance: 40
endstop_pin: ES0
position_endstop: 0
position_max: 200
homing_speed: 50

[stepper_y]
step_pin: M1STEP
dir_pin: M1DIR
enable_pin: M_EN
microsteps: 16
rotation_distance: 40
endstop_pin: ES1
position_endstop: 0
position_max: 200
homing_speed: 50

[stepper_y1]
step_pin: M2STEP
dir_pin: M2DIR
enable_pin: M_EN
microsteps: 16
rotation_distance: 40
endstop_pin: ES2
position_endstop: 0
position_max: 200
homing_speed: 50

[stepper_z]
step_pin: M3STEP
dir_pin: M3DIR
enable_pin: M_EN
microsteps: 16
rotation_distance: 40
endstop_pin: ES3
position_endstop: 0
position_max: 200
homing_speed: 50

[stepper_z1]
step_pin: M4STEP
dir_pin: M4DIR
enable_pin: M_EN
microsteps: 16
rotation_distance: 40
endstop_pin: ES4
position_endstop: 0
position_max: 200
homing_speed: 50

