# ----- Axis Motors X/Y/Z -----
[stepper_x]
step_pin: M0STEP
dir_pin: M0DIR
enable_pin: !M_EN
microsteps: 16
rotation_distance: 100
gear_ratio: 5:1
endstop_pin: ^!ES0
position_endstop: 0
position_max: 410
homing_speed: 30

[stepper_y]
step_pin: M1STEP
dir_pin: !M1DIR
enable_pin: !M_EN
microsteps: 16
rotation_distance: 100
endstop_pin: ^!ES1
position_endstop: 720
position_max: 720
homing_speed: 30
gear_ratio: 5:1

[stepper_y1]
step_pin: M2STEP
dir_pin: !M2DIR
enable_pin: !M_EN
microsteps: 16
rotation_distance: 100
endstop_pin: ^!ES2
gear_ratio: 5:1

[stepper_z]
step_pin: M3STEP
dir_pin: !M3DIR
enable_pin: !M_EN
microsteps: 16
rotation_distance: 3
endstop_pin: ^!ES5
position_endstop: 0
position_max: 1100
homing_speed: 20
gear_ratio: 5:1

[stepper_z1]
step_pin: M4STEP
dir_pin: M4DIR
enable_pin: !M_EN
microsteps: 16
rotation_distance: 3
gear_ratio: 5:1

[gcode_button z_max]
pin: ^!ES4
press_gcode:
    {action_emergency_stop("ZMAX HIT")}

[tmc5160 stepper_x]
run_current: 1.4
cs_pin: M0CS
sense_resistor: 0.050

[tmc5160 stepper_y]
run_current: 1.4
cs_pin: M1CS
sense_resistor: 0.050

[tmc5160 stepper_y1]
run_current: 1.4
cs_pin: M2CS
sense_resistor: 0.050

[tmc5160 stepper_z]
run_current: 1.4
cs_pin: M3CS
sense_resistor: 0.050

[tmc5160 stepper_z1]
run_current: 1.4
cs_pin: M4CS
sense_resistor: 0.050


