# All the configuration settings for the cutting/clamping mechanisms

# ----- U-Axis Motor -----
[manual_stepper u_axis]
step_pin: M5STEP
dir_pin: !M5DIR
enable_pin: !M_EN
microsteps: 16
rotation_distance: 100
gear_ratio: 10:1
velocity: 300
accel: 300
endstop_pin: !ES7
position_min: 0
position_max: 1150
#ES7

[tmc5160 manual_stepper u_axis]
run_current: 1.4
cs_pin: M5CS
sense_resistor: 0.050

[manual_stepper metal_feed]
step_pin: M6STEP
dir_pin: !M6DIR
enable_pin: !M_EN
microsteps: 16
rotation_distance: 100
gear_ratio: 10:1
velocity: 300
accel: 300

[tmc5160 manual_stepper metal_feed]
run_current: 1.4
cs_pin: M6CS
sense_resistor: 0.050

# ----- Linear Actuators -----
[servo cutter]
pin: archim1:PA5
initial_angle: 15
maximum_servo_angle: 180
minimum_pulse_width: 1.1e-3  # 1100 µs  -> spec says "fully extended"
maximum_pulse_width: 1.9e-3  # 1900 µs  -> spec says "fully retracted"


[servo clamper]
pin: PA5
initial_angle: 180
maximum_servo_angle: 180
minimum_pulse_width: 0.001
maximum_pulse_width: 0.002


# ----- Cutter Heaters -----

[heater_generic cutter]
heater_pin: archim2:BEDHEAT
sensor_type: MAX31856
sensor_pin: archim3:TC1
control: pid
pid_Kp: 777
pid_Ki: 777
pid_Kd: 777
min_temp: 0
max_temp: 380

[heater_generic cutter1]
heater_pin: archim3:BEDHEAT
sensor_type: MAX31856
sensor_pin: archim3:TC2
control: pid
pid_Kp: 777
pid_Ki: 777
pid_Kd: 777
min_temp: 0
max_temp: 380

# ----- Cutting/Clamping Operation -----


[gcode_macro HOME_METAL_HEAD]
gcode:
  MANUAL_STEPPER STEPPER=u_axis MOVE=1150 SPEED=30 STOP_ON_ENDSTOP=1 
  MANUAL_STEPPER STEPPER=u_axis SET_POSITION=1150 

[gcode_macro LAY_WIRE]
gcode:
  {% set iterations = params.ITERATIONS|default(1)|int %}
  {% for i in range(iterations) %}
    HOME_METAL_HEAD
    MANUAL_STEPPER STEPPER=metal_feed SET_POSITION=0
    MANUAL_STEPPER STEPPER=metal_feed MOVE=-100 SPEED=60
    MANUAL_STEPPER STEPPER=metal_feed SET_POSITION=0
    SET_SERVO SERVO=clamper ANGLE=0
    G4 P10000
    MANUAL_STEPPER STEPPER=metal_feed MOVE=-1150 SPEED=60 SYNC=0
    MANUAL_STEPPER STEPPER=u_axis MOVE=0 SPEED=60 SYNC=1
    SET_SERVO SERVO=cutter ANGLE=30
    G4 P5000
    SET_SERVO SERVO=cutter ANGLE=15
    SET_SERVO SERVO=clamper ANGLE=180
  {% endfor %}
  
