# All the configuration settings for the cutting/clamping mechanisms

# ----- U-Axis Motor -----
[manual_stepper u_axis]
step_pin: M5STEP
dir_pin: M5DIR
enable_pin: M_EN
microsteps: 16
rotation_distance:
velocity:
accel:
endstop_pin:
position_min:
position_max:

# ----- Linear Actuators -----
[servo cutter]
pin:
maximum_servo_angle: 180
minimum_pulse_width: 0.001
maximum_pulse_width: 0.002
initial_angle:
initial_pulse_width:

[servo clamper]
pin:
maximum_servo_angle: 180
minimum_pulse_width: 0.001
maximum_pulse_width: 0.002
initial_angle:
initial_pulse_width:

# ----- Cutter Heaters -----

[heater_generic cutter_heater]
gcode_id:
heater_pin: HE3
max_power:
sensor_type: MAX31856
sensor_pin: TC3
smooth_time:
control: pid
pid_Kp:
pid_Ki:
pid_Kd:
pwm_cycle_time:
min_temp: 0
max_temp: 380

[heater_generic cutter_heater1]
gcode_id:
heater_pin: HE4
max_power:
sensor_type: MAX31856
sensor_pin: TC4
smooth_time:
control: pid
pid_Kp:
pid_Ki:
pid_Kd:
pwm_cycle_time:
min_temp: 0
max_temp: 380

# ----- Cutting/Clamping Operation -----

[gcode_macro LAY_WIRE]
gcode:
    # psuedo code for laying wire
    move u-Axis
    extrude wire 
    clamp 
    move back
    cut 
