# ----- Pin Mappings for All Components -----

[board_pins archimajor]
aliases:
    # ----- Stepper Motors -----
    M0STEP=PC7, M0DIR=PC6, M0CS=PA4, 
    M1STEP=PC13, M1DIR=PC12, M1CS=PC14,
    M2STEP=PC17, M2DIR=PC16, M2CS=PC18,
    M3STEP=PC10, M3DIR=PC4, M3CS=PB10,
    M4STEP=PB3, M4DIR=PB22, M4CS=PB5,
    M5STEP=PB26, M5DIR=PB24, M5CS=PB4,
    M6STEP=PB8, M6DIR=PB6, M6CS=PD0,
    M7STEP=PD3, M7DIR=PD1, M7CS=PD2,
    M_EN=PC9,

    # ----- Heaters -----
    HE0=PC21, HE1=PC22, HE2=PC24, 

    # ----- Bed Heater -----
    BEDHEAT=PC23, 

    # ----- Thermocouples -----
    TC0=PC27, TC1=PB9, TC2=PA6, TC3=PA2, TC4=PB17,

    # ----- Thermistors -----
    TH0=PB19, TH1=PB18, TH2=PB20, 

    # ----- Fans -----
    FAN0=PC26, FAN1=PC25, FAN2=PB15, FAN3=PB16,

    # ----- Endstops -----
    ES0=PD4, ES1=PD6, ES2=PA7, ES3=PB14, ES4=PD10, ES5=PD5, ES6=PD9, ES7=PB7

[board_pins archim1]
mcu: archim1
aliases:
    # ----- Stepper Motors -----
    M0STEP=PC7, M0DIR=PC6, M0CS=PA4, 
    M1STEP=PC13, M1DIR=PC12, M1CS=PC14,
    M2STEP=PC17, M2DIR=PC16, M2CS=PC18,
    M3STEP=PC10, M3DIR=PC4, M3CS=PB10,
    M4STEP=PB3, M4DIR=PB22, M4CS=PB5,
    M5STEP=PB26, M5DIR=PB24, M5CS=PB4,
    M6STEP=PB8, M6DIR=PB6, M6CS=PD0,
    M7STEP=PD3, M7DIR=PD1, M7CS=PD2,
    M_EN=PC9,

    # ----- Heaters -----
    HE0=PC21, HE1=PC22, HE2=PC24, 

    # ----- Bed Heater -----
    BEDHEAT=PC23, 

    # ----- Thermocouples -----
    TC0=PC27, TC1=PB9, TC2=PA6, TC3=PA2, TC4=PB17,

    # ----- Thermistors -----
    TH0=PB19, TH1=PB18, TH2=PB20, 

    # ----- Fans -----
    FAN0=PC26, FAN1=PC25, FAN2=PB15, FAN3=PB16,

    # ----- Endstops -----
    ES0=PD4, ES1=PD6, ES2=PA7, ES3=PB14, ES4=PD10, ES5=PD5, ES6=PD9, ES7=PB7

[board_pins archim2]
mcu: archim2
aliases:
    # ----- Stepper Motors -----
    M0STEP=PC7, M0DIR=PC6, M0CS=PA4, 
    M1STEP=PC13, M1DIR=PC12, M1CS=PC14,
    M2STEP=PC17, M2DIR=PC16, M2CS=PC18,
    M3STEP=PC10, M3DIR=PC4, M3CS=PB10,
    M4STEP=PB3, M4DIR=PB22, M4CS=PB5,
    M5STEP=PB26, M5DIR=PB24, M5CS=PB4,
    M6STEP=PB8, M6DIR=PB6, M6CS=PD0,
    M7STEP=PD3, M7DIR=PD1, M7CS=PD2,
    M_EN=PC9,

    # ----- Heaters -----
    HE0=PC21, HE1=PC22, HE2=PC24, 

    # ----- Bed Heater -----
    BEDHEAT=PC23, 

    # ----- Thermocouples -----
    TC0=PC27, TC1=PB9, TC2=PA6, TC3=PA2, TC4=PB17,

    # ----- Thermistors -----
    TH0=PB19, TH1=PB18, TH2=PB20, 

    # ----- Fans -----
    FAN0=PC26, FAN1=PC25, FAN2=PB15, FAN3=PB16,

    # ----- Endstops -----
    ES0=PD4, ES1=PD6, ES2=PA7, ES3=PB14, ES4=PD10, ES5=PD5, ES6=PD9, ES7=PB7

[board_pins archim3]
mcu: archim3
aliases:
    # ----- Stepper Motors -----
    M0STEP=PC7, M0DIR=PC6, M0CS=PA4, 
    M1STEP=PC13, M1DIR=PC12, M1CS=PC14,
    M2STEP=PC17, M2DIR=PC16, M2CS=PC18,
    M3STEP=PC10, M3DIR=PC4, M3CS=PB10,
    M4STEP=PB3, M4DIR=PB22, M4CS=PB5,
    M5STEP=PB26, M5DIR=PB24, M5CS=PB4,
    M6STEP=PB8, M6DIR=PB6, M6CS=PD0,
    M7STEP=PD3, M7DIR=PD1, M7CS=PD2,
    M_EN=PC9,

    # ----- Heaters -----
    HE0=PC21, HE1=PC22, HE2=PC24, 

    # ----- Bed Heater -----
    BEDHEAT=PC23, 

    # ----- Thermocouples -----
    TC0=PC27, TC1=PB9, TC2=PA6, TC3=PA2, TC4=PB17,

    # ----- Thermistors -----
    TH0=PB19, TH1=PB18, TH2=PB20, 

    # ----- Fans -----
    FAN0=PC26, FAN1=PC25, FAN2=PB15, FAN3=PB16,

    # ----- Endstops -----
    ES0=PD4, ES1=PD6, ES2=PA7, ES3=PB14, ES4=PD10, ES5=PD5, ES6=PD9, ES7=PB7

[duplicate_pin_override]
pins: M_EN, HE0, HE1, HE2, BEDHEAT, TC0, TC1, TC2, TC3, TC4, TH0, TH1, TH2, FAN0, FAN1, FAN2, FAN3







