# ----- Extra Chamber Temperature Sensors -----

#[temperature_sensor chamber]
#sensor_type: MAX31856
#sensor_pin: archim1:TC3
#min_temp: -273.15
#max_temp: 999999

#[temperature_sensor chamber1]
#sensor_type: MAX31856
#sensor_pin: archim1:TC4
#min_temp: -273.15
#max_temp: 999999

#[temperature_sensor chamber2]
#sensor_type: MAX31856
#sensor_pin: archim2:TC3
#min_temp: -273.15
#max_temp: 999999

#[temperature_sensor chamber3]
#sensor_type: MAX31856
#sensor_pin: archim2:TC4
#min_temp: -273.15
#max_temp: 999999

