# ----- Extra Chamber Temperature Sensors -----

[temperature_sensor chamber]
sensor_type:
sensor_pin:

[temperature_sensor chamber1]
sensor_type:
sensor_pin:

[temperature_sensor chamber2]
sensor_type:
sensor_pin:

[temperature_sensor chamber3]
sensor_type:
sensor_pin:



