# Thermal runaway parameters for all heaters. 
# reference: https://www.klipper3d.org/Config_Reference.html?h=verify#verify_heater

# ----- Toolhead Heaters -----

[verify_heater extruder]
max_error: 120
check_gain_time:
hysteresis: 5
heating_gain: 2

[verify_heater extruder1]
max_error: 120
check_gain_time:
hysteresis: 5
heating_gain: 2

[verify_heater extruder2]
max_error: 120
check_gain_time:
hysteresis: 5
heating_gain: 2

[verify_heater extruder3]
max_error: 120
check_gain_time:
hysteresis: 5
heating_gain: 2

[verify_heater extruder4]
max_error: 120
check_gain_time:
hysteresis: 5
heating_gain: 2

[verify_heater extruder5]
max_error: 120
check_gain_time:
hysteresis: 5
heating_gain: 2

[verify_heater extruder6]
max_error: 120
check_gain_time:
hysteresis: 5
heating_gain: 2

[verify_heater extruder7]
max_error: 120
check_gain_time:
hysteresis: 5
heating_gain: 2

[verify_heater extruder8]
max_error: 120
check_gain_time:
hysteresis: 5
heating_gain: 2

[verify_heater extruder9]
max_error: 120
check_gain_time:
hysteresis: 5
heating_gain: 2

# ----- Cutter Heaters -----

[verify_heater cutter_heater]
max_error: 120
check_gain_time:
hysteresis: 5
heating_gain: 2


[verify_heater cutter_heater1]
max_error: 120
check_gain_time:
hysteresis: 5
heating_gain: 2
