# ----- Toolhead Motors and Heaters -----
# Reference: https://www.klipper3d.org/Config_Reference.html?h=verify#extruder

[extruder]
step_pin: archim1:M0STEP
dir_pin: archim1:M0DIR
enable_pin: archim1:M_EN
microsteps: 16
rotation_distance: 6.743
nozzle_diameter: 0.4
filament_diameter: 2.85
heater_pin: HE0
sensor_type: MAX31856
sensor_pin: TC0
control: pid
pid_Kp: 24.856
pid_Ki: 1.493
pid_Kd: 103.462
min_temp: 0
max_temp: 380

[extruder1]
step_pin: archim1:M1STEP
dir_pin: archim1:M1DIR
enable_pin: archim1:M_EN
microsteps: 16
rotation_distance: 6.743
nozzle_diameter: 0.4
filament_diameter: 2.85
heater_pin: HE1
sensor_type: MAX31856
sensor_pin: TC1
control: pid
pid_Kp: 24.856
pid_Ki: 1.493
pid_Kd: 103.462
min_temp: 0
max_temp: 380

[extruder2]
step_pin: archim1:M2STEP
dir_pin: archim1:M2DIR
enable_pin: archim1:M_EN
microsteps: 16
rotation_distance: 6.743
nozzle_diameter: 0.4
filament_diameter: 2.85
heater_pin: HE2
sensor_type: MAX31856
sensor_pin: TC2
control: pid
pid_Kp: 24.856
pid_Ki: 1.493
pid_Kd: 103.462
min_temp: 0
max_temp: 380

[extruder3]
step_pin: archim1:M3STEP
dir_pin: archim1:M3DIR
enable_pin: archim1:M_EN
microsteps: 16
rotation_distance: 6.743
nozzle_diameter: 0.4
filament_diameter: 2.85
heater_pin: archim1:HE0
sensor_type: MAX31856
sensor_pin: archim1:TC0
control: pid
pid_Kp: 24.856
pid_Ki: 1.493
pid_Kd: 103.462
min_temp: 0
max_temp: 380

[extruder4]
step_pin: archim1:M4STEP
dir_pin: archim1:M4DIR
enable_pin: archim1:M_EN
microsteps: 16
rotation_distance: 6.743
nozzle_diameter: 0.4
filament_diameter: 2.85
heater_pin: archim1:HE1
sensor_type: MAX31856
sensor_pin: archim1:TC1
control: pid
pid_Kp: 24.856
pid_Ki: 1.493
pid_Kd: 103.462
min_temp: 0
max_temp: 380

[extruder5]
step_pin: archim2:M0STEP
dir_pin: archim2:M0DIR
enable_pin: archim2:M_EN
microsteps: 16
rotation_distance: 6.743
nozzle_diameter: 0.4
filament_diameter: 2.85
heater_pin: archim1:HE2
sensor_type: MAX31856
sensor_pin: archim1:TC2
control: pid
pid_Kp: 24.856
pid_Ki: 1.493
pid_Kd: 103.462
min_temp: 0
max_temp: 380

[extruder6]
step_pin: archim2:M1STEP
dir_pin: archim2:M1DIR
enable_pin: archim2:M_EN
microsteps: 16
rotation_distance: 6.743
nozzle_diameter: 0.4
filament_diameter: 2.85
heater_pin: archim2:HE0
sensor_type: MAX31856
sensor_pin: archim2:TC0
control: pid
pid_Kp: 24.856
pid_Ki: 1.493
pid_Kd: 103.462
min_temp: 0
max_temp: 380

[extruder7]
step_pin: archim2:M2STEP
dir_pin: archim2:M2DIR
enable_pin: archim2:M_EN
microsteps: 16
rotation_distance: 6.743
nozzle_diameter: 0.4
filament_diameter: 2.85
heater_pin: archim2:HE1
sensor_type: MAX31856
sensor_pin: archim2:TC1
control: pid
pid_Kp: 24.856
pid_Ki: 1.493
pid_Kd: 103.462
min_temp: 0
max_temp: 380

[extruder8]
step_pin: archim2:M3STEP
dir_pin: archim2:M3DIR
enable_pin: archim2:M_EN
microsteps: 16
rotation_distance: 6.743
nozzle_diameter: 0.4
filament_diameter: 2.85
heater_pin: archim2:HE2
sensor_type: MAX31856
sensor_pin: archim2:TC2
control: pid
pid_Kp: 24.856
pid_Ki: 1.493
pid_Kd: 103.462
min_temp: 0
max_temp: 380

[extruder9]
step_pin: archim2:M4STEP
dir_pin: archim2:M4DIR
enable_pin: archim2:M_EN
microsteps: 16
rotation_distance: 6.743
nozzle_diameter: 0.4
filament_diameter: 2.85
heater_pin: archim3:HE0
sensor_type: MAX31856
sensor_pin: archim3:TC0
control: pid
pid_Kp: 24.856
pid_Ki: 1.493
pid_Kd: 103.462
min_temp: 0
max_temp: 380