BASE_USER="pi"
CROWSNEST_USTREAMER_REPO_SHIP="https://github.com/pikvm/ustreamer.git"
CROWSNEST_USTREAMER_REPO_BRANCH="v6.36"
CROWSNEST_CAMERA_STREAMER_REPO_SHIP="https://github.com/mryel00/camera-streamer.git"
CROWSNEST_CAMERA_STREAMER_REPO_BRANCH="main"
CROWSNEST_CONFIG_PATH="/home/pi/printer_data/config"
CROWSNEST_LOG_PATH="/home/pi/printer_data/logs"
CROWSNEST_ENV_PATH="/home/pi/printer_data/systemd"
CROWSNEST_ADD_CROWSNEST_MOONRAKER="0"