[Unit]
Description=One-time flash task shown behind splash
ConditionPathExists=/etc/firstboot-splash
ConditionPathExists=/tmp/firstboot-ui-started
After=graphical.target

[Service]
Type=oneshot
ExecStart=-/usr/local/bin/flash_once.sh
# Plenty of time so it can wait for user to erase/connect
RuntimeMaxSec=7200

[Install]
WantedBy=multi-user.target
