[Unit]
Description=Build/install Realtek 8822BU Wi-Fi (updates splash)
After=firstboot-splash.service local-fs.target
Before=install-wifi-8822bu.service flash_once.service
Wants=NetworkManager.service
After=NetworkManager.service flip-to-32bit.service
ConditionPathExists=!/var/lib/firstboot-8822bu.ok
ConditionPathExists=/etc/firstboot-splash
ConditionPathExists=/tmp/firstboot-ui-started

[Service]
Type=oneshot
ExecStart=/usr/local/bin/install_wifi_8822bu.sh

[Install]
WantedBy=multi-user.target
